@model AliensStore.Data.Entity.Alien

@{
    ViewData["Title"] = "Details";
}
@section Styles {
    <link rel="stylesheet" href="/css/detailsalien.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
}

<h1>Details</h1>
<div class="wrapper">   
    <div class="lodinbox">
<div>
    <h4>Alien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinsPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinsPerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eyes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eyes)
        </dd>
         @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsForSale)
        </dt>
       <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsForSale)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planet.Id)
        </dd>
         @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dealer)
        </dt>
       <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dealer.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div class="backtolist mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">&larr;Back to List</a>
</div>
    </div>
</div>
